
/* Objective: 
    Pt 1: Arrange the boxes into a 2 x 2 grid.
    Pt 2: Using CSS flex, arrange the boxes into a row, and then arrange them into a column 
*/

.container {
    height: 200px;
    width: 200px;
}

.box {
    height: 100px;
    width: 100px;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.blue {
    background-color: blue;
}














/* .container {
    display: flex;
    flex-direction: column;
} */