body {
    text-align: center;
}

.title {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 16pt;
    text-align: center;
}

.image {
    margin-bottom: 10px;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#shopping-list li {
    margin-bottom: 5px;
}