body {
    margin: 0;
    background-color: #444444;
}

.flag {
    margin: 10px;
    display: block;
    position: relative;
}

/* France */

.france {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: row;
}

.france-red, .france-white, .france-blue {
    height: 100%;
    width: 33.3%;
    display: inline-block;
}

.france-red {
    background-color: #ed2938;
}

.france-white {
    background-color: #ffffff;
}

.france-blue {
    background-color: #002495;
}

/* Germany */

.germany {
    height: 200px;
    width: 330px;
    display: flex;
    flex-direction: column;
}

.germany-black, .germany-red, .germany-gold {
    height: 33.3%;
    width: 100%;
}

.germany-black {
    background-color: #000000;
}

.germany-red {
    background-color: #de0002;
}

.germany-gold {
    background-color: #ffcc00;
}

/* Madagascar */

.madagascar {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: row;
}

.madagascar-white {
    height: 100%;
    width: 100px;
    background-color: #ffffff;
}

.mad-red-green {
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.madagascar-red {
    background-color: #fc3e32;
    height: 50%;
    width: 100%;
}

.madagascar-green {
    background-color: #007e39;
    height: 50%;
    width: 100%;
}

/* Switzerland -- take a look at this one again to understand the after selector*/

.switzerland {
    height: 200px;
    width: 200px;
    background-color: #ff0002;
}

.swiss-vertical {
    background-color: #ffffff;
    position: relative;
    height: 133px;
    width: 30px;
    top: 33.5px;
    left: 50%;
    transform: translateX(-50%);
}

.swiss-vertical::after {
    background-color: #ffffff;
    content: "";
    position: absolute;
    height: 30px;
    width: 133px;
    top: 50%;
    transform: translateY(-50%);
    right: -50.5px;
}

/* Sweden */

.sweden {
    background-color: #0269A6;
    height: 200px;
    width: 315px;
}

.sweden-horizontal {
    background-color: #fecc00;
    height: 39px;
    width: 315px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sweden-vertical {
    background-color: #fecc00;
    width: 39px;
    height: 200px;
    position: absolute;
    left: 78px;
}
/* Gambia */

.gambia {
    height: 200px;
    width: 300px;
}

.gambia-red {
    background-color: #ce1127;
    height: 66px;
    width: 300px;
}

.gambia-blue {
    background-color: #0d1d8b;
    height: 66px;
    width: 300px;
}

.gambia-green {
    background-color: #3b7827;
    height: 66px;
    width: 300px;
}

.gambia-white-one {
    background-color: #ffffff;
    position: absolute;
    height: 11px;
    width: 300px;
    top: 66px;
}

.gambia-white-two {
    background-color: #ffffff;
    position: absolute;
    height: 11px;
    width: 300px;
    bottom: 66px;
}

/* Japan */

.japan {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
}

.japan-red {
    background-color: #bc022c;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 100px;
}

/* Niger */

.niger {
    height: 300px;
    width: 350px;
}

.niger-orange {
    background-color: #e15307;
    height: 100px;
    width: 350px;
}

.niger-white {
    background-color: #ffffff;
    height: 100px;
    width: 350px;
}

.niger-green {
    background-color: #10af2a;
    height: 100px;
    width: 350px;
}

.niger-circle {
    background-color: #e15307;
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    top: 105px;
    left: 123px;
}
/* Tonga */
/* Greece */
/* Maldives */